@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
  }

  /* .bg-features {
    background: linear-gradient(
      to right,
      #fff 0%,
      #fff 48%,
      hsl(180, 66%, 49%) 48%,
      hsl(180, 66%, 49%) 52%,
      #fff 52%,
      #fff 100%
    );
  } */
}
